<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mapping My World</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="/static/MMW/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="/static/MMW/assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="/static/MMW/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="/static/MMW/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <style>
        #main-menu {
        }
        #header h1 {
            color: purple;
        }
    </style>
</head>
<body onload="init()">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">MappingMyWorld</a>
            </div>

        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <!-- <img src="/static/MMW/assets/img/user.png" class="img-thumbnail" /> -->

                            <div class="inner-text">
                                {{request.user.userinfo.name}}
                            <br />
                                <small>{{request.user.userinfo.email}}</small>
                            <br />
                            <br />
                                <a href="/MMW/logout/" >log out</a>
                            </div>
                        </div>

                    </li>

                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>Contents<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="/MMW/whoiam/">Who I am</a>
                            </li>
                            <li>
                                <a href="/MMW/communication/">The way I communicate and make decisions </a>
                            </li>
                             <li>
                                <a href="/MMW/importance/">Important people to me</a>
                            </li>
                             <li>
                                <a href="/MMW/myhome/">My home</a>
                            </li>
                             <li>
                                <a href="/MMW/dailyactivity/">My daily activities</a>
                            </li>
                             <li>
                                <a href="wizard.html">My weekly supports</a>
                            </li>
                             <li>
                                <a href="typography.html">My health and wellbeing</a>
                            </li>
                            <li>
                                <a href="/MMW/program/">My program and therapy supports</a>
                            </li>
                             <li>
                                <a href="grid.html">My equipment, aid or modification supports</a>
                            </li>
                           
                        </ul>
                    </li>
                   
                    <li>
                        <a href="#"><i class="fa fa-square-o "></i>My Dreams and Goals<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="panel-tabs.html">How I wish my week looked</a>
                            </li>
                            <li>
                                <a href="panel-tabs.html">My short term dreams and goals：next 12 months</a>
                            </li>
                            <li>
                                <a href="panel-tabs.html">My long term dreams and goals: the future</a>
                            </li>
                            <li>
                                <a href="panel-tabs.html">My ultimate bucket list</a>
                            </li>
                         </ul>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <!-- /. PAGE INNER  -->
            {% block app %}
            {% endblock %}
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

<!-- 保存成功的 modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" style="text-align: center">
        Save Successfully
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <div id="footer-sec">
        <a>mapping my world</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/static/MMW/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/MMW/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/static/MMW/assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="/static/MMW/assets/js/custom.js"></script>
</body>
</html>
