{% extends "base.html" %}
{% block app %}
<style>
#app-inner #app{
    padding: 20px;
    background-color: #F2F0EA;
}
#app-inner #down{
    margin-top: 40px;
}
#app-inner #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#app-inner #clock{
    width: 50px;
    height: 50px;
}
#app-inner h1{
    margin-left: 30px;
    color: purple;
}
#app-inner table{
    width: 100%;
}
#app-inner ul {
    list-style:square url("/staticw/image/arrow.jpg");
}
#app-inner li{
    margin: 10px;
}
#app-inner textarea {
    width: 90%;
    margin-top: 30px;
    box-shadow: 10px 10px 5px #888888;
}
</style>
    <div id="app-inner">
        <div id="header">
            <h1>My daily activities</h1>
            <div id="clock">
                <img src="/staticw/image/clock.jpg">
            </div>
        </div>
        <ul id="invite_tabs" class="nav nav-tabs" role="tablist">
          <li  class="nav-item">
            <a href="#table-monday" data-toggle="tab" role="tab" class="nav-link" >Monday</a>
          </li>
          <li class="nav-item"><a href="#table-tuesday" data-toggle="tab" role="tab" class="nav-link" >Tuesday</a></li>
          <li class="nav-item"><a href="#table-wednesday" data-toggle="tab" role="tab" class="nav-link" >Wednesday</a></li>
          <li class="nav-item"><a href="#table-thursday" data-toggle="tab" role="tab" class="nav-link" >Tuesday</a></li>
          <li class="nav-item"><a href="#table-friday" data-toggle="tab" role="tab" class="nav-link" >Friday</a></li>
          <li class="nav-item"><a href="#table-saturday" data-toggle="tab" role="tab" class="nav-link" >Saturday</a></li>
          <li class="nav-item"><a href="#table-sunday" data-toggle="tab" role="tab" class="nav-link" >Sunday</a></li>
        </ul>
        <div id="down" class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="table-monday">
            <table name="monday">
                <tr>
                    <th></th>
                    <th>What I do now:</th>
                    <th>What is working well:</th>
                    <th>What is not working well:</th>
                </tr>
                <tr name="morning">
                    <td>
                        <h4 class="day">Morning</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12">{{activity.monday.morning.now}}</textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12">{{activity.monday.morning.working}}</textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12">{{activity.monday.morning.notworking}}</textarea>
                    </td>
                </tr>
                <tr name="afternoon">
                    <td>
                        <h4 class="day">Afternoon</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12">{{activity.monday.afternoon.now}}</textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12">{{activity.monday.afternoon.working}}</textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12">{{activity.monday.morning.notworking}}</textarea>
                    </td>
                </tr>
                <tr name="evening">
                    <td>
                        <h4 class="day">Evening</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="table-tuesday">
              <table name="tuesday">
                <tr>
                    <th></th>
                    <th>What I do now:</th>
                    <th>What is working well:</th>
                    <th>What is not working well:</th>
                </tr>
                <tr name="morning">
                    <td>
                        <h4 class="day">Morning</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="afternoon">
                    <td>
                        <h4 class="day">Afternoon</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="evening">
                    <td>
                        <h4 class="day">Evening</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="table-wednesday">
              <table name="wednesday">
                <tr>
                    <th></th>
                    <th>What I do now:</th>
                    <th>What is working well:</th>
                    <th>What is not working well:</th>
                </tr>
                <tr name="morning">
                    <td>
                        <h4 class="day">Morning</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="afternoon">
                    <td>
                        <h4 class="day">Afternoon</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="evening">
                    <td>
                        <h4 class="day">Evening</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="table-thursday">
              <table name="thursday">
                <tr>
                    <th></th>
                    <th>What I do now:</th>
                    <th>What is working well:</th>
                    <th>What is not working well:</th>
                </tr>
                <tr name="morning">
                    <td>
                        <h4 class="day">Morning</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="afternoon">
                    <td>
                        <h4 class="day">Afternoon</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="evening">
                    <td>
                        <h4 class="day">Evening</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="table-friday">
              <table name="friday">
                <tr>
                    <th></th>
                    <th>What I do now:</th>
                    <th>What is working well:</th>
                    <th>What is not working well:</th>
                </tr>
                <tr name="morning">
                    <td>
                        <h4 class="day">Morning</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="afternoon">
                    <td>
                        <h4 class="day">Afternoon</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="evening">
                    <td>
                        <h4 class="day">Evening</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="table-saturday">
              <table name="saturday">
                <tr>
                    <th></th>
                    <th>What I do now:</th>
                    <th>What is working well:</th>
                    <th>What is not working well:</th>
                </tr>
                <tr name="morning">
                    <td>
                        <h4 class="day">Morning</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="afternoon">
                    <td>
                        <h4 class="day">Afternoon</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="evening">
                    <td>
                        <h4 class="day">Evening</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="table-sunday">
              <table name="sunday">
                <tr>
                    <th></th>
                    <th>What I do now:</th>
                    <th>What is working well:</th>
                    <th>What is not working well:</th>
                </tr>
                <tr name="morning">
                    <td>
                        <h4 class="day">Morning</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="afternoon">
                    <td>
                        <h4 class="day">Afternoon</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
                <tr name="evening">
                    <td>
                        <h4 class="day">Evening</h4>
                    </td>
                    <td name="now">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="working">
                        <textarea rows="12"></textarea>
                    </td>
                    <td name="notworking">
                        <textarea rows="12"></textarea>
                    </td>
                </tr>
            </table>
          </div>
        </div>
    </div>

<script>
    var get_data = function() {
        var data = {
        'monday': {
            'morning': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'afternoon': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'evening': {
                "now": "",
                "working": "",
                "notworking": "",
            },
         },
        'tuesday': {
            'morning': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'afternoon': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'evening': {
                "now": "",
                "working": "",
                "notworking": "",
            },
         },
        'wednesday': {
            'morning': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'afternoon': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'evening': {
                "now": "",
                "working": "",
                "notworking": "",
            },
         },
        'thursday': {
            'morning': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'afternoon': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'evening': {
                "now": "",
                "working": "",
                "notworking": "",
            },
         },
        'friday': {
            'morning': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'afternoon': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'evening': {
                "now": "",
                "working": "",
                "notworking": "",
            },
         },
        'saturday': {
            'morning': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'afternoon': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'evening': {
                "now": "",
                "working": "",
                "notworking": "",
            },
         },
        'sunday': {
            'morning': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'afternoon': {
                "now": "",
                "working": "",
                "notworking": "",
            },
            'evening': {
                "now": "",
                "working": "",
                "notworking": "",
            },
         },
        }
        var tables = $('table');
        for (var i=0; i< tables.length; i++ ) {
            console.log("正在获取第" + (i+1) + "张表格");
            var table = tables[i];
            var weekday = table.getAttribute('name') // 'monday'
            var trs = $('tr', table);
            for (var j=1; j<trs.length; j++) {
                console.log("正在获取第" + (j+1) + "行");
                var tr = trs[j];
                var time = tr.getAttribute('name') // 'morning'
                var tds = $('td', tr);
                for (var k=1; k<tds.length; k++) {
                    console.log("正在获取第" + (k+1) + "列");
                    var td = tds[k];
                    var type = td.getAttribute('name') // 'now'
                    if (weekday=='saturday') {
                        if (time=='afternoon') {
                            if (type == 'notworking') {

                            }
                        }
                    }
                    data[weekday][time][type] = $('textarea', td)[0].value;
                }
            }
        }
        return data;
    }
    var send_data = function() {
        console.log("准备发送数据")
        var data = get_data();
        $.ajax({
            url: "/MMW/activity/",
            type: "post",
            data: JSON.stringify(data),
            success: function(response) {
                alert("发送成功");
            }
        });
    }
</script>
<input type="button" onclick="send_data()" value="点我">
{% endblock %}