{% extends "base.html" %}
{% block app %}
    <script src="/static/jquery-3.1.0.js"></script>
    <style>
        .submit {
            background-color: #0f71b8;
            color: white;
            width: 100px;
            height: 50px;
            border: 0px;
            border-radius: 10px;
        }
        .bottom-button {
            margin-top: 30px;

        }
        #save-image {
            margin-right: 36px;
            border-radius: 10px;
            width: 100px;
            height: 50px;
        }
        .input-block p {
            font-size: large;
        }
    </style>
    <link rel="stylesheet" href="/static/mmw/communication.css">
    <div id="app">
        <div class="header">
            <h1>The ways I communicate and make decisions</h1>
            <img class="header-image" src="/static/mmw/image/Capture.PNG">
        </div>
        <h3>Decision-making</h3>
        <form method="POST" action="/MMW/communication/">
            {% csrf_token %}
            <div class="textarea-body">
                <div class="input-block">
                    <p>How I want to be involved</p>
                    <div class="textarea-block">
                        <textarea name="text1" id="area1">{{ communication.text1 }}</textarea>
                    </div>
                </div>
                <div class="input-block">
                    <p>Who I want to help me in my NDIS planning meeting</p>
                    <div class="textarea-block">
                        <textarea name="text2" id="area2">{{ communication.text2 }}</textarea>
                    </div>
                </div>
                <div class="input-block">
                    <p>What my NDIS representative needs to know about how I communicate </p>
                    <div class="textarea-block">
                        <textarea name="text3" id="area3">{{ communication.text3 }}</textarea>
                    </div>
                </div>
                <div class="input-block">
                    <p>Who makes the final decisions</p>
                    <div class="textarea-block">
                        <textarea name="text4" id="area4">{{ communication.text4 }}</textarea>
                    </div>
                </div>
            </div>
            <div class="bottom-button">
                <a  class="btn btn-primary btn-lg" href="/MMW/whoiam/" style="">&lt; Go Back</a>
                <input class="submit" type="submit" value="Next >" style="float: right">
                <img id="save-image" src="/static/mmw/image/save.jpg" onclick="send_request()" style="float: right">
            </div>
        </form>
    </div>



<script>
    function send_request() {
        // retrieve data
        var data = {
                'text1': $('#area1')[0].value,
                'text2': $('#area2')[0].value,
                'text3': $('#area3')[0].value,
                'text4': $('#area4')[0].value,
        };
        // send data
        $.ajax({
            url: '/MMW/communication/',
            method: 'POST',
            data: data,
            success: function(response) {
                $('#myModal').modal('show')
            }
        })
    }
</script>
{% endblock %}
