<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/mmw/dailyactivity.css">
    <script src="/static/mmw/initheight.js"></script>
</head>
<body onload="init()">
   <div id="app">
       <h1>5. My Daily activities</h1>
       <p class="desc"> How do you spend your average week currently? As well as writing down what you do now, think about what is working well and what is not working well as this will be useful for later in the booklet</p>
       <table>
           <tr>
               <th></th>
               <th>What I do now:</th>
               <th>What is working well:</th>
               <th>What is not working well:</th>
           </tr>
           <tr>
               <td>
                   <div>
                       <p class="day">Monday</p>
                       <ul>
                           <li>Morning</li>
                           <li>Afternoon</li>
                           <li>Evening</li>
                       </ul>
                   </div>
               </td>
               <td>
                   <textarea rows="12"></textarea>
               </td>
               <td>
                   <textarea rows="12"></textarea>
               </td>
               <td>
                   <textarea rows="12"></textarea>
               </td>
           </tr>
           <tr>
               <td>
                   <div>
                       <p class="day">Tuesday</p>
                       <ul>
                           <li>Morning</li>
                           <li>Afternoon</li>
                           <li>Evening</li>
                       </ul>
                   </div>
               </td>
               <td>
                   <textarea rows="12"></textarea>
               </td>
               <td>
                   <textarea rows="12"></textarea>
               </td>
               <td>
                   <textarea rows="12"></textarea>
               </td>
           </tr>
       </table>
   </div>
</body>
</html>