{% extends 'base.html' %}
{% block app %}
<style>
    h1 {
        color: #4a2582;
        margin-top: 100px;
    }
    .des {
        font-size: x-large;
        color: #888;
        font-weight: 600;
        margin-top: 137px;
    }
    .textbox {
        width: 60%;
        padding: 0.5%;
        background-color: white;
    }
    textarea {
        width: 100%;
        height: 300px;
        background-color: lightblue;
    }
     .submit {
        background-color: #0f71b8;
        color: white;
        width: 100px;
        height: 50px;
        border: 0px;
        border-radius: 10px;
        float: right;
        margin-right: 14%;
        margin-top: 5%;
    }
</style>
<script>
    save_data = function(dom) {
        $.ajax({
            url: "/MMW/long_term/",
            type: "POST",
            data: {
                "text": dom.parentElement.parentElement['text'].value
            },
            success: function(response) {
                $('#myModal').modal('show')
            }
        })
    }
</script>
<div id="app">
    <h1>My long term dreams and goals: the future</h1>
    <p class="des">Think about: daily living, home, relationships. health&wellbeing, lifelong learning, work, social＆community and choice & control</p>
    <p class="des sub-title"><small>what would you like to achieve in the next five years?</small></p>
    <form method="post" action="/MMW/long_term/">
        <div class="textbox">
            <textarea name="text" >{{ instance.text }}</textarea>
        </div>
        <div style="margin-top: 25px">
          <a class="btn btn-lg btn-primary" href="/MMW/short_term/">&lt; Go Back</a>
          <input type="submit" class="btn btn-lg btn-primary" value="Next >"  style="float: right; margin-left: 20px;">
          <img id="save-image" src="/static/mmw/image/save.jpg" onclick="save_data(this)" style="float: right; border-radius: 10px; width: 100px; height: 50px;">
        </div>
    </form>
</div>

{% endblock %}
