<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/mmw/mydailyactivity.css">
    <script src="/static/mmw/initheight.js"></script>
</head>
<body onload="init()">
    <div id="app">
        <h1>5. My Daily activities</h1>
        <p class="desc">How do you spend your average week currently? </p>
        <table>
            <tr>
                <th></th>
                <th>What I do now:</th>
                <th>What is working well:</th>
                <th>What is not working well:</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <p class="day">Saturday</p>
                        <ul>
                            <li>Morning</li>
                            <li>Afternoon</li>
                            <li>Evening</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <textarea rows="12"></textarea>
                </td>
                <td>
                    <textarea rows="12"></textarea>
                </td>
                <td>
                    <textarea rows="12"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <p class="day">Sunday</p>
                        <ul>
                            <li>Morning</li>
                            <li>Afternoon</li>
                            <li>Evening</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <textarea rows="12"></textarea>
                </td>
                <td>
                    <textarea rows="12"></textarea>
                </td>
                <td>
                    <textarea rows="12"></textarea>
                </td>
            </tr>
        </table>
        <h4>Don't forget to include your hobbies and interests! </h4>
        <div class="foot">
            <div class="foot-left">
                <h6>Things I do sometimes:</h6>
                <textarea rows="8"></textarea>
            </div>
            <div class="foot-right">
                <h6>Things I like but haven't done for a while</h6>
                <textarea rows="8"></textarea>
            </div>
        </div>

    </div>
</body>
</html>