{% extends 'base.html' %}
{% block app %}
<script>
    delete_parent = function () {
        dom = event.target;
        $('#deleteModal').on('show.bs.modal', function(e) {
            confirm = function() {
                var index = dom.className.split('-').pop();
                console.log(index);
                var node_ids = ["outer-ul", "outer-ul2", "outer-ul3", "outer-ul4"];
                for (var i=0; i<=3; i++) {
                    console.log(i);
                    var select = "#" + node_ids[i] + " .outer-textbox-" + index;
                    console.log(select);
                    dom = $(select)[0];
                    console.log($(select));
                    console.log(dom);
                    dom.innerHTML = "";
                }
                $('#deleteModal').modal('hide');
            }
        });
        $('#deleteModal').modal({
            'show': true,
        });


    }
    delete_parent2 = function(dom) {
        $('#deleteModal').on('show.bs.modal', function(e) {
            confirm = function() {
                console.log(dom);
                var index = dom.className.split('-').pop();
                console.log(index);
                var node_ids = ["outer-ul", "outer-ul2", "outer-ul3", "outer-ul4"];
                for (var i=0; i<=3; i++) {
                    var select = "#" + node_ids[i] + " .outer-textbox-" + index;
                    console.log(select);
                    dom = $(select)[0];
                    dom.innerHTML = "";
                }
                $('#deleteModal').modal('hide');
            }
        });
        $('#deleteModal').modal({
            'show': true,
        });

    }
    var add_textarea = function () {
        var unique_id = parseInt(Math.random() * 65999);
        var node_ids = ["outer-ul", "outer-ul2", "outer-ul3", "outer-ul4"];
        console.log($("#outer-ul textarea"));
        for (var i=0; i<=3; i++) {
            var node_id = node_ids[i];
            textarea_dom = document.createElement('textarea');
            if (i==2) {
                textarea_dom.className = "outer-textarea-delete outer-textarea";
            } else {
                textarea_dom.className = "outer-textarea";
            }
            if (i==2) {
                delete_dom = document.createElement('button');
                delete_dom.innerText = "delete";
                delete_dom.className = "btn btn-primary delete-button" + " " + "delete-button-" + unique_id;
                delete_dom.addEventListener('click', delete_parent)
            }
            div_dom = document.createElement('div')
            div_dom.className = "outer-textbox" + " " + "outer-textbox-" +  unique_id;

            div_dom.appendChild(textarea_dom);
            if (i==2) {
                div_dom.appendChild(delete_dom);
            }
            parent_dom = document.getElementById(node_id);
            parent_dom.appendChild(div_dom)
        }
    };
    submit_data = function (go_to_next=true) {
        var doms1 = $('#outer-ul textarea');
        var doms2 = $('#outer-ul2 textarea');
        var doms3 = $('#outer-ul3 textarea');
        var doms4 = $('#outer-ul4 textarea');
        data_list1 = [];
        data_list2 = [];
        data_list3 = [];
        data_list4 = [];
        data_list5 = [];
        data_list1.push($('#therapy')[0].value);
        data_list1.push($('#social-group')[0].value);
        data_list2.push($('#therapist')[0].value);
        data_list3.push($('#communicate')[0].value);
        data_list2.push($('#community')[0].value);
        data_list3.push($('#friendship')[0].value);
        data_list4.push($('#second-week')[0].value);
        data_list4.push($('#week')[0].value);
        data_list5.push($('#not-currently-use')[0].value);
        full_data = {

        };
        for (var i=0; i<doms1.length; i++){
            data_list1.push(doms1[i].value)
        }
        full_data['program'] = data_list1;
        for (var i=0; i<doms2.length; i++){
            data_list2.push(doms2[i].value)
        }
        full_data['who'] = data_list2;
        for (var i=0; i<doms3.length; i++){
            data_list3.push(doms3[i].value)
        }
        full_data['purpose'] = data_list3;
        for (var i=0; i<doms4.length; i++){
            data_list4.push(doms4[i].value)
        }
        full_data['often'] = data_list4;
        full_data['not_currently_use'] = data_list5;
        $.ajax({
                    url: '/MMW/program/',
                    type: 'post',
                    data: JSON.stringify(full_data),
                    success: function (response) {
                        $('#myModal').modal('show')
                        if (go_to_next) {
                            window.location = "/MMW/equipment/";
                        }
                    }
                }
        )
    }
    save_data = function() {
        submit_data(go_to_next=false);
    }
</script>
<style>
    .textbox {
        background-color: white;
        margin-top: 19px;
        height: 100px;
    }
    .inner-textarea {
        width: 100%;
        background-color: lightblue;
        height: 70px;
    }
    .inner-span {
       color: blueviolet;
       font-weight: 900;
    }
    .outer-ul {
        padding-left: 0px;
        margin-top: 19px;
    }
    .outer-textarea {
        width: 100%;
        text-align: left;
        height: 88px;
        background-color: lightblue;
        margin-bottom: 54px;
    }
    #program-id {
        margin-top: 40px;
    }
    .last-textbox {
        padding: 10px;
        background-color: white;
    }
    .last-textarea {
        background-color: lightblue;
        width: 100%;
        height: 200px;
    }
    .last-des {
        margin-top: 75px;
    }
    .outer-textarea-delete {
        margin-bottom: 21px;
    }
    .sub-title p{
        font-size: 1.8rem;
    }
</style>
<div id="app">
    <div id="container">
        <div class="row">
            <div class="col-md-12" id="header">
                <h1>8. My programs and therapy supports
    </h1>
                <img src="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 sub-title">
                <p>Think about the programs and therapy supports you currently use</p>
                <p>Think about the programs and therapy that might help you</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="container-header">
                    <span class="inner-span">Program</span>
                    <div class="textbox">
                        <span>[Example: Speech therapy]</span>
                        <textarea class="inner-textarea" id="therapy">{{textareas.program.0}}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="container-header">
                    <span class="inner-span">Who</span>
                    <div class="textbox">
                        <span>[Example: My speech therapist,Melissa]</span>
                        <textarea class="inner-textarea" id="therapist">{{textareas.who.0}}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="container-header">
                    <span class="inner-span">Purpose</span>
                    <div class="textbox">
                        <span><small>[Example: To help me communicate better]</small></span>
                        <textarea class="inner-textarea" id="communicate">{{textareas.purpose.0}}</textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="container-header">
                    <span class="inner-span">How often</span>
                    <div class="textbox">
                        <span>[Example: Once a week]</span>
                        <textarea class="inner-textarea" id="week">{{textareas.often.0}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="textbox">
                    <span>[Example: Social group]</span>
                    <textarea class="inner-textarea" id="social-group">{{textareas.program.1}}</textarea>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="textbox">
                    <span>[Example: Community group]</span>
                    <textarea class="inner-textarea" id="community">{{textareas.who.1}}</textarea>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="textbox">
                    <span>[Example: Friendships]</span>
                    <textarea class="inner-textarea" id="friendship">{{textareas.purpose.1}}</textarea>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="textbox">
                    <span>[Example: Every second week]</span>
                    <textarea class="inner-textarea" id="second-week">{{textareas.often.1}}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-ld-3">
                <ul id="outer-ul" class="outer-ul" >
                    {% for textarea in textareas.program_add %}
                    <div class="outer-textbox outer-textbox-{{forloop.counter}}">
                        <textarea class="outer-textarea">{{textarea}}</textarea>
                    </div>
                    {% endfor %}
                </ul>
            </div>
             <div class="col-md-3 col-ld-3">
                <ul id="outer-ul2" class="outer-ul">

                    {% for textarea in textareas.who_add %}
                    <div class="outer-textbox outer-textbox-{{forloop.counter}}">
                        <textarea class="outer-textarea">{{textarea}}</textarea>
                    </div>
                    {% endfor %}
                </ul>
            </div>
             <div class="col-md-3 col-ld-3">
                <ul id="outer-ul3" class="outer-ul">
                    {% for textarea in textareas.purpose_add %}
                    <div class="outer-textbox outer-textbox-{{forloop.counter}}">
                        <textarea class="outer-textarea outer-textarea-delete">{{textarea}}</textarea>
                        <button class=" btn btn-primary delete-button delete-button-{{forloop.counter}}" onclick="delete_parent2(this)">delete</button>
                    </div>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3 col-ld-3">
                <ul id="outer-ul4" class="outer-ul">
                    {% for textarea in textareas.often_add %}
                    <div class="outer-textbox outer-textbox-{{forloop.counter}}">
                        <textarea class="outer-textarea">{{textarea}}</textarea>
                    </div>
                    {% endfor %}
                </ul>
                <button id="program-id" class="btn btn-lg btn-primary" onclick="add_textarea()">add more content</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="last-des">Are there any programs and therapy you would like but not currently use?</p>
                <div class="last-textbox">
                    <textarea class="last-textarea" id="not-currently-use">{{ textareas.not_currently_use.0 }}</textarea>
                </div>
            </div>
        </div>
        <div style="margin-top: 40px">
            <a class="btn btn-lg btn-primary" href="/MMW/health/">go back</a>
            <input  class="btn btn-lg btn-primary m-l" type="button" value="submit" onclick="submit_data()" style="float: right; margin-left: 30px;">
            <img id="save-image" src="/static/mmw/image/save.jpg" onclick="save_data()" style="float: right; border-radius: 10px; width: 100px; height: 50px;">
        </div>
    </div>
</div>


<!-- 删除确认的Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        Are you sure to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" onclick="confirm()">Yes</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

