{% extends 'base.html' %}
{% block app %}
<style>
    .text-box {
        margin-top: 2px;
        padding: 10px;
        background-color: white;
    }
    .text {
        width: 100%;
        height: 600px;
        background-color: lightblue;
    }
    .container {
        margin: 0px;
    }
    #question {
        margin-top: 10%;
    }
    .dec {
        margin-top: 5%;
    }
    p {
        font-size: 18px;
        margin-left: 5%;
    }
    h1 {
        margin-left: 5%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>My short term dreams and goals: next 12 months</h1>
        </div>
        <div class="col-md-12">
            <div class="dec">
            <p>Think about: daily living, home, relationships, health & wellbeing, lifelong learning</p>
            <p>work, social & community and choice & control</p>
            </div>
        </div>
        <form method="post" action="/MMW/short_term/">
        <div class="col-md-12" style="margin-top: 0px">
            <p id="question">What would you like to achieve in the next 12 months?</p>
            <div class="text-box">
                <textarea class="text" name="text" id="text"></textarea>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}