{% extends 'base.html' %}
{% block app %}
<style>
    h1 {
        color: #4a2582;
        margin-top: 100px;
    }
    .des {
        font-size: x-large;
        color: #888;
        font-weight: 600;
        margin-top: 137px;
    }
    .textbox {
        width: 60%;
        padding: 0.5%;
        background-color: white;
    }
    textarea {
        width: 100%;
        height: 300px;
        background-color: lightblue;
    }
     .submit {
        background-color: #0f71b8;
        color: white;
        width: 100px;
        height: 50px;
        border: 0px;
        border-radius: 10px;
        float: right;
        margin-right: 14%;
        margin-top: 5%;
    }
</style>
<div id="app">
    <h1>My short term dreams and goals: next 12 months</h1>
    <p class="des">Think about: daily living, home, relationships. health&wellbeing, lifelong learning, work, social＆community and choice & control</p>
    <p class="des sub-title"><small>which goals are the most important to you in the next 12 months?</small></p>
    <form method="post" action="/MMW/short_term/">
        <div class="textbox">
            <textarea name="text" id="text">{{ instance.text }}</textarea>
        </div>
        <input class="submit" type="submit" value="next >">
    </form>
</div>

{% endblock %}