<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/mmw/initheight.js"></script>
    <link rel="stylesheet" href="/static/mmw/supports.css">
</head>
<body onload="init()">
    <audio id="bgMusic">
        <source src="/static/mmw/mp3/7.mp3" type="audio/mp3">
    </audio>
    <script>
      var mp3_dom = document.getElementById("bgMusic");
      mp3_dom.play();
    </script>
    <div id="app">
        <div id="header">
            <h1>6. My weekly supports</h1>
            <img src="/static/mmw/image/calendar.JPG">
        </div>
        <p class="p1">Think about who supports you in your activities throughout the week-both your formal</p>
        <p class="p2">and informal supports</p>
        <table>
            <tr>
                <th class="table-header" style="width: 30%; padding-left: 50px">Daily activities</th>
                <th class="table-header">
                    <span style="width: 70%">Who supports me to do this:</span>
                    <span id="example" style="color: black">[Example: My carer from Endeavour Foundation]</span>
                </th>
            </tr>
            <tr class="activity-table">
                <td >
                    <div class="activity-block-left">
                        <span class="activity-des-left">Daily living</span>
                    </div>
                </td>
                <td class="activity-block-right">
                    <textarea></textarea>
                </td>
            </tr>
            <tr class="activity-table">
                <td >
                    <div class="activity-block-left">
                        <span class="activity-des-left">Work</span>
                    </div>
                </td>
                <td class="activity-block-right">
                    <textarea></textarea>
                </td>
            </tr>
            <tr class="activity-table">
                <td >
                    <div class="activity-block-left">
                        <span class="activity-des-left">Learning</span>
                    </div>
                </td>
                <td class="activity-block-right">
                    <textarea></textarea>
                </td>
            </tr>
            <tr class="activity-table">
                <td >
                    <div class="activity-block-left">
                        <span class="activity-des-left">Social & community participation</span>
                    </div>
                </td>
                <td class="activity-block-right">
                    <textarea></textarea>
                </td>
            </tr>
            <tr class="activity-table">
                <td >
                    <div class="activity-block-left">
                        <span class="activity-des-left">Home(Living Arrangements)</span>
                    </div>
                </td>
                <td class="activity-block-right">
                    <textarea></textarea>
                </td>
            </tr>
            <tr class="activity-table">
                <td >
                    <div class="activity-block-left">
                        <span class="activity-des-left">Health & wellbeing</span>
                    </div>
                </td>
                <td class="activity-block-right">
                    <textarea></textarea>
                </td>
            </tr>
            <tr class="activity-table">
                <td >
                    <div class="activity-block-left">
                        <span class="activity-des-left">Transport</span>
                    </div>
                </td>
                <td class="activity-block-right">
                    <textarea></textarea>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>