<html>
  <head>
    <style>
      body {
        background-color: #F1F0EB;
      }
      h4 {
        margin-left: 10px;

      }
      .info {
        margin-left: 20px;
      }
      button {
        margin-left: 45%;
        font-size: 18px;
        border-radius: 6px;
        height: 60px;
        width: 150px;
        color: white;
        background-color: #428bca;
        border-color: #357ebd
      }
    </style>
  </head>
  <body>
    <p>
      <h4>Register/login：</h4>
      <p class="info">if are new here, please register before you use the website. You name and email address should be provided in the form. After you have registered, filling in the login form with the correct information. Note that there will have a effor message when you execute wrong operations. </p>
    <p>
      <h4>Logout:</h4>
      <p class="info">After you have logged in the website, you can see the "logout" button in the top-left corner of the website, clicking the button.</p>
    </p>
    <p>
      <h4>Navation bar:</h4>
      <p class="info">You can go anywhere through clicking the link in the navibar. If you have some problems about how to operate this website, please clicking the user manual link.</p>
    </p>
    <p>
      <h4>information input:</h4>
      <p class="info">Following the description for every question, then inputting the correspondding information. Note that in the my daily activity page, please fill in all the day forms through clicking the date navigation bar.</p>
</p>
    <p>
      <h4>Row add:</h4>
      <p class="info">In the my program and my equipment page, if you require more field, please clicking the "add more content" button, if you want to delete the row, clicking the "delete" button below the row.</p>
    <p>
      <h4>Modify you information:</h4>
      <p class="info">If you want to modfiy you information, please go to the page and modify the information, then clicking "save" button, you information will be adjusted.</p>
    </p>
    <div style="margin-top: 40px">
      <button><a href="/MMW/whoiam/" style="color: white">Go back</a></button>
    </div>



  </body>
</html>