{% extends 'base.html' %}
{% block app %}
    <script>
        save_data = function() {
            data = []
            doms = $('textarea')
            for (var i=0; i<doms.length; i++ ) {
                data.push(doms[i].value)
            }
            $.ajax({
                url: '/MMW/weeklysupport/',
                type: 'POST',
                data: JSON.stringify(data),
                success: function(response) {
                    $('#myModal').modal('show')
                },
            });
        }
        save_data_next = function() {
            data = []
            doms = $('textarea')
            for (var i=0; i<doms.length; i++ ) {
                data.push(doms[i].value)
            }
            $.ajax({
                url: '/MMW/weeklysupport/',
                type: 'POST',
                data: JSON.stringify(data),
                success: function(response) {
                    window.location="/MMW/health";
                },
            });
        }
    </script>
    <link rel="stylesheet" href="/static/mmw/weeklysupport.css">
    <div id="app">
        <form method="post" action="/MMW/weeklysupport/">
        <div id="header">
            <h1>My weekly supports</h1>
            <img src="/static/mmw/image/calendar.jpg">
        </div>
        <table>
            <tr id="table-header">
                <th class="table-header-content" style="width: 30%">
                    <p>Daily activities</p>
                </th>
                <th class="table-header-content" style="width: 70%">
                    <span style="width: 70%">Who supports me to do this:</span>
                    <span style="color:black; font-size: 10px">[Example: My carer from Endeavour Foundation]</span>
                </th>
            </tr>
            <tr>
                <td style="padding-bottom: 16px">
                    <div id="column-1-left">
                        <p class="table-left-des">Behaviour support</p>
                    </div>
                </td>
                <td>
                    <textarea>{{data.0}}</textarea>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 16px">
                    <div id="column-1-left">
                        <p class="table-left-des">Respite</p>
                    </div>
                </td>
                <td>
                    <textarea>{{data.1}}</textarea>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 16px">
                    <div id="column-1-left">
                        <p class="table-left-des">Other:</p>
                    </div>
                </td>
                <td>
                    <textarea>{{data.2}}</textarea>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 16px">
                    <div id="column-1-left">
                        <p class="table-left-des">Other:</p>
                    </div>
                </td>
                <td>
                    <textarea></textarea>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 16px">
                    <div id="column-1-left">
                        <p class="table-left-des">Other:</p>
                    </div>
                </td>
                <td>
                    <textarea>{{data.4}}</textarea>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 16px">
                    <div id="column-1-left">
                        <p class="table-left-des">Other:</p>
                    </div>
                </td>
                <td>
                    <textarea>{{data.5}}</textarea>
                </td>
            </tr>
        </table>
        <img style="width: 90%; height: 185px; margin-top: 80px" src="/static/mmw/image/multi-pic.PNG">
        <a class="btn btn-lg btn-primary" href="/MMW/dailyactivity/">go back</a>
        <div style="float: right">
            <input class="btn btn-lg btn-primary" style="margin-left: 20px;" type="button" onclick="save_data()" value="save">
            <input class="btn btn-lg btn-primary" style="margin-left: 20px;" type="button" onclick="save_data_next()" value="next">
        </div>
        </form>
    </div>

{% endblock %}