{% extends "base.html" %}
{% block app %}
    <script src="/static/mmw/initheight.js"></script>
    <script src="/static/jquery-3.1.0.js"></script>
    <style>
        #app{
            padding-top: 20px;
            background-color: #F2F0EA;
        }
        h1{
            margin-top: 50px;
            margin-left: 50px;
        }
        #header-image{
            margin-top: 50px;
            margin-right: 50px;
            height: 80px;
        }
        #header{
            display: flex;
            justify-content: space-between;
        }
        #header-content{
            margin-top: 50px;
            margin-left: 40px;
            font-size: 20px;
        }
        .textarea-body{
            display: flex;
            flex-wrap: wrap;
        }
        .textarea-block{
            background-color: white;
            width: 100%;
            height: 200px;
            padding: 1%;

        }
        .input-block{
            width: 40%;
            height: 50%;
            margin-right: 5%;
            margin-top: 40px;
            margin-left: 2%;

        }
        textarea{
            width: 98%;
            height: 98%;
            background-color: lightblue;
        }
        img {
            border-radius: 10px;
            width: 100px;
            height: 50px;
        }
        .submit {
            background-color: #0f71b8;
            color: white;
            width: 100px;
            height: 50px;
            border: 0px;
            border-radius: 10px;
        }
        .bottom-button {
            display: flex;
            justify-content: flex-end;
            margin-top: 100px;
            margin-right: 30px;
        }
        #save-image {
            margin-right: 36px;
        }
    </style>

    <div id="app">
        <div id="header">
            <h1>1. Who I am</h1>
            <img id="header-image" src="/static/mmw/image/people.jpg">
        </div>
        <p id="header-content"><strong>My feeling, my beliefs and my attitudes are important to how i act, think and express myself</strong></p>
        <form method="POST" action="/MMW/whoiam/">
            {% csrf_token %}
            <div class="textarea-body">
                <div class="input-block">
                    <p>What is important to me?</p>
                    <div class="textarea-block">
                        <textarea name="text1" id="area1">{{ whoiam.text1 }}</textarea>
                    </div>
                </div>
                <div class="input-block">
                    <p>What do I like about myself</p>
                    <div class="textarea-block">
                        <textarea name="text2" id="area2">{{ whoiam.text2 }}</textarea>
                    </div>
                </div>
                <div class="input-block">
                    <p>What dp other people like about me?</p>
                    <div class="textarea-block">
                        <textarea name="text3" id="area3">{{ whoiam.text3 }}</textarea>
                    </div>
                </div>
                <div class="input-block">
                    <p>How to best support me</p>
                    <div class="textarea-block">
                        <textarea name="text4" id="area4">{{ whoiam.text4 }}</textarea>
                    </div>
                </div>
            </div>
            <div class="bottom-button">
                <img id="save-image" src="/static/mmw/image/save.jpg" onclick="send_request()" >
                <input class="submit" type="submit" value="next >">
            </div>
        </form>
    </div>




<script>
function send_request() {
        // alert("send request");
        // retrieve data
        var data = {
                'text1': $('#area1')[0].value,
                'text2': $('#area2')[0].value,
                'text3': $('#area3')[0].value,
                'text4': $('#area4')[0].value,
        };
        // send data
        $.ajax({
            url: '/MMW/whoiam/',
            method: 'POST',
            data: data,
            success: function(response) {
                // alert("save successfully")
                $('#myModal').modal('show')
            }
        })
        // alert("ajax send request");
    }
</script>
{% endblock %}
